<body class=" ">
  <div class="bg-dark dk" id="wrap">
    <div id="top">

      <!-- .navbar -->
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">

          <!-- Brand and toggle get grouped for better mobile display -->
          <header class="navbar-header">
            <br> PT. KARSA MANDIRI ALKESINDO
            <hr>

            <!-- //ukuran nya 121x42 -->
          </header>

          <!-- /////////////////////////////////////////////// -->
          <div class="topnav">

            <div class="btn-group">
              <a data-placement="bottom" data-original-title="Fullscreen" data-toggle="tooltip"
              class="btn btn-default btn-sm" id="toggleFullScreen">
              <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
          </div>

          <div class="btn-group">
            <a data-placement="bottom" data-original-title="E-mail" data-toggle="tooltip" href="https://mail.google.com/mail/u/0/#inbox"
            class="btn btn-default btn-sm" target="_blank" >
            <i class="fa fa-envelope"></i> 
          <a data-placement="bottom" data-original-title="Messages" href="#" data-toggle="tooltip"
          class="btn btn-default btn-sm">
          <i class="fa fa-comments"></i>
        </a>
      </div>

      <div class="btn-group">
        <a href="/logout" data-toggle="tooltip" data-original-title="Logout" data-placement="bottom"
        class="btn btn-metis-1 btn-sm">
        <i class="fa fa-power-off"></i>
      </a>
    </div>

  </div>
</div>
</div>
</nav>
</div>
