  <!-- #menu -->
  <ul id="menu" class="bg-blue dker">
    <li class="nav-header">Menu</li>
    <li class="nav-divider"></li>
    <li class="">
      <a href="/home">
        <i class="fa fa-home"></i><span class="link-title">&nbsp;Home</span>
      </a>
    </li>

    <li class="nav-divider"></li>
    <li class="">
      <a href="javascript:;">
        <i class="fa fa-building "></i>
        <span class="link-title">Pelanggan</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
        <li>
          <a href="/customers">
            <i class="fa fa-angle-right"></i>&nbsp; Data Pelanggan </a>
          </li>
          <li>
            <a href="/customers/add">
              <i class="fa fa-angle-right"></i>&nbsp; Tambah Data Pelanggan </a>
            </li>
          </ul>
        </li>

        <li class="nav-divider"></li>
        <li class="">
          <a href="javascript:;">
            <i class="fa fa-tasks"></i>
            <span class="link-title">Barang</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="collapse">
            <li>
              <a href="/barang">
                <i class="fa fa-angle-right"></i>&nbsp; Data Barang </a>
              </li>
              <li>
                <a href="/barang/add">
                  <i class="fa fa-angle-right"></i>&nbsp; Tambah Data Barang </a>
                </li>
                <!-- <li>
                  <a href="/barang/edit">
                    <i class="fa fa-angle-right"></i>&nbsp; Edit Data Barang </a>
                  </li> -->
              </ul>
            </li>

            <li class="nav-divider"></li>
            <li class="">
              <a href="javascript:;">
                <i class="fa fa-tasks"></i>
                <span class="link-title">Merk Barang</span>
                <span class="fa arrow"></span>
              </a>
              <ul class="collapse">
                <li>
                  <a href="/m_barang">
                    <i class="fa fa-angle-right"></i>&nbsp; Data Merk Barang </a>
                  </li>
                  <li>
                    <a href="/m_barang/add">
                      <i class="fa fa-angle-right"></i>&nbsp; Tambah Data Merk Barang </a>
                    </li>
                  </ul>
                </li>

                <li class="nav-divider"></li>
                <li class="">
                  <a href="javascript:;">
                    <i class="fa fa-tasks"></i>
                    <span class="link-title">Kategori Barang</span>
                    <span class="fa arrow"></span>
                  </a>
                  <ul class="collapse">
                    <li>
                      <a href="/k_barang">
                        <i class="fa fa-angle-right"></i>&nbsp; Data Kategori Barang </a>
                      </li>
                      <li>
                        <a href="/k_barang/add">
                          <i class="fa fa-angle-right"></i>&nbsp; Tambah Data Kategori Barang </a>
                        </li>
                      </ul>
                    </li>

                    <li class="nav-divider"></li>
                    <li class="">
                      <a href="javascript:;">
                        <i class="fa fa-user"></i>
                        <span class="link-title">Supplier</span>
                        <span class="fa arrow"></span>
                      </a>
                      <ul class="collapse">
                        <li>
                          <a href="/supplier">
                            <i class="fa fa-angle-right"></i>&nbsp; Data Supplier </a>
                          </li>
                          <li>
                            <a href="/supplier/add">
                              <i class="fa fa-angle-right"></i>&nbsp; Tambah Data Supplier </a>
                            </li>
                          </ul>
                        </li>

                        <li class="nav-divider"></li>
                        <li class="">
                          <a href="javascript:;">
                            <i class="fa fa-pencil"></i>
                            <span class="link-title">
                              Transaksi Penjualan
                            </span>
                            <span class="fa arrow"></span>
                          </a>
                          <ul class="collapse">
                            <li>
                              <a href="/t_penjualan">
                                <i class="fa fa-angle-right"></i>&nbsp; Data Transaksi Penjualan </a>
                              </li>
                              <li>
                                <a href="form-validation.html">
                                  <i class="fa fa-angle-right"></i>&nbsp; Tambah Transaksi Penjualan</a>
                                </li>
                                <li>
                                  <a href="form-wizard.html">
                                    <i class="fa fa-angle-right"></i>&nbsp; Lihat Tagihan Penjualan</a>
                                  </li>
                                </ul>
                              </li>

                              <li class="nav-divider"></li>
                              <li class="">
                                <a href="javascript:;">
                                  <i class="fa fa-pencil"></i>
                                  <span class="link-title">
                                    Transaksi Pembelian
                                  </span>
                                  <span class="fa arrow"></span>
                                </a>
                                <ul class="collapse">
                                  <li>
                                    <a href="/t_pembelian">
                                      <i class="fa fa-angle-right"></i>&nbsp; Data Transaksi Pembelian </a>
                                    </li>
                                    <li>
                                      <a href="form-validation.html">
                                        <i class="fa fa-angle-right"></i>&nbsp; Tambah Transaksi Pembelian</a>
                                      </li>
                                      <li>
                                        <a href="form-wizard.html">
                                          <i class="fa fa-angle-right"></i>&nbsp; Lihat Tagihan Pembelian</a>
                                        </li>
                                      </ul>
                                    </li>

                                    <li class="nav-divider"></li>
                                    <li>
                                      <a href="/calendar">
                                        <i class="fa fa-calendar"></i>
                                        <span class="link-title">
                                          Calendar
                                        </span>
                                      </a>
                                    </li>

                                    <li class="nav-divider"></li>
                                    <li class="">
                                      <a href="table.html">
                                        <i class="fa fa-user"></i>
                                        <span class="link-title">Profile</span>
                                        <span class="fa arrow"></span>
                                      </a>
                                      <ul class="collapse">
                                        <li>
                                          <a href="/users">
                                            <i class="fa fa-angle-right"></i>&nbsp; Profile </a>
                                          </li>
                                          <li>
                                            <a href="/setting">
                                              <i class="fa fa-angle-right"></i>&nbsp; Authorization </a>
                                            </li>
                                          </ul>
                                        </li>
                                      </div>
