<% include ../partials/header %>
<% include ../partials/menu %>
<% include ../partials/sidebar %>

<div class="bg-dark dk" id="wrap">
  <!-- #menu -->
  <div id="content">
    <div class="outer">
      <div class="inner bg-light lter">






      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
