<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Material Login Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/login.css">
</head>

<body>
  <!-- Mixins-->
  <!-- Pen Title-->
  <div class="pen-title"> </div>

  <div class="container">
    <div class="card"></div>
    <div class="card">

      <h1 class="title">Login</h1>
      <% if(message[0] !== undefined) {%>
        <div class="alert alert-warning">
          <strong> <center> Pay Attention</strong> <%= message %> </center>
        </div>
        <% } %>

        <form method="POST" action="/">
          <div class="input-container">
            <input type="#email" id="#{label}" name="email" required="required"/>
            <label for="#{label}">Email</label>
            <div class="bar"></div>
          </div>
          <div class="input-container">
            <input type="password" id="#{label}" name="pass" required="required"/>
            <label for="#{label}">Password</label>
            <div class="bar"></div>
          </div>
          <div class="button-container">
            <button><span>Submit</span></button>
          </div>
        </form>
      </div>
      <div class="card alt">

        <div class="toggle"></div>
        <h1 class="title">Register
          <div class="close"></div>
          <% if(message[0] !== undefined) {%>
            <div class="alert alert-warning">
              <strong>Pay Attention</strong> <%= message %>
            </div>
            <% } %>
          </h1>

          <form method="POST" action="/register">
            <div class="input-container">
              <input type="text" name="firstname" id="#{label}" required="required"/>
              <label for="#{label}">First Name</label>
              <div class="bar"></div>
            </div>

            <div class="input-container">
              <input type="text" name="lastname" id="#{label}" required="required"/>
              <label for="#{label}">Last Name</label>
              <div class="bar"></div>
            </div>

            <div class="input-container">
              <input type="text" name="email" id="#{label}" required="required"/>
              <label for="#{label}">Email</label>
              <div class="bar"></div>
            </div>

            <div class="input-container">
              <input type="password" id="#{label}" name="pass" required="required"/>
              <label for="#{label}">Password</label>
              <div class="bar"></div>
            </div>

            <div class="input-container">
              <input type="password" id="#{label}" name="repass" required="required"/>
              <label for="#{label}">Repeat Password</label>
              <div class="bar"></div>
            </div>

            <div class="input-container">
              <input type="text" name="secretkey" id="tooltip" title="You must remember this part, because it is very important" onkeyup="checkInput(this.value)" required="required"/>
              <label for="#{label}">Secret Key</label>
              <div class="bar"></div>
            </div>

            <div class="button-container">
              <button><span>Next</span></button>
            </div>
          </form>
        </div>
      </div>
      <!-- Portfolio-->
      <a id="portfolio" href="https://github.com/firmansyas" title="View my portfolio!"><i class="fa fa-link"></i></a>
      <!-- CodePen-->
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script  src="javascripts/index.js"></script>
      <script type="text/javascript">
      $(document).ready(function() {
        // Tooltip only Text
        $('.tooltip').hover(function(){
          // Hover over code
          var title = $(this).attr('title');
          $(this).data('tipText', title).removeAttr('title');
          $('<p class="tooltip"></p>')
          .text(title)
          .appendTo('body')
          .fadeIn('slow');
        }, function() {
          // Hover out code
          $(this).attr('title', $(this).data('tipText'));
          $('.tooltip').remove();
        }).mousemove(function(e) {
          var mousex = e.pageX + 20; //Get X coordinates
          var mousey = e.pageY + 10; //Get Y coordinates
          $('.tooltip')
          .css({ top: mousey, left: mousex })
        });
      });
      </script>

    </body>
    </html>
