<% include ../partials/header %>
<% include ../partials/menu %>
<% include ../partials/sidebar %>

<div class="bg-dark dk" id="wrap">
  <!-- #menu -->
  <div id="content">
    <div class="outer">
      <div class="inner bg-light lter">
        <div class="row">
          <div class="col-lg-12">
            <div class="box">
              <header>
                <div class="icons"><i class="fa fa-table"></i></div>
                <h5>Data Supplier</h5>
              </header>
              <div id="collapse4" class="body">
                <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Rendering engine</th>
                      <th>Browser</th>
                      <th>Platform(s)</th>
                      <th>Engine version</th>
                      <th>CSS grade</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Trident</td>
                      <td>Internet Explorer 4.0</td>
                      <td>Win 95+</td>
                      <td>4</td>
                      <td>X</td>
                      <td>
                        <button class="btn btn-success" type="button" name="button">Edit </button> ||
                        <button class="btn btn-danger" type="button" name="button" onclick="return confirm('Are you sure you want to delete this item?')"> delete </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Gecko</td>
                      <td>Mozilla 1.5</td>
                      <td>Win 95+ / OSX.1+</td>
                      <td>1.5</td>
                      <td>A</td>
                      <td>
                        <button class="btn btn-success" type="button" name="button">Edit </button> ||
                        <button class="btn btn-danger" type="button" name="button" onclick="return confirm('Are you sure you want to delete this item?')"> delete </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Gecko</td>
                      <td>Mozilla 1.6</td>
                      <td>Win 95+ / OSX.1+</td>
                      <td>1.6</td>
                      <td>A</td>
                      <td>
                        <button class="btn btn-success" type="button" name="button">Edit </button> ||
                        <button class="btn btn-danger" type="button" name="button" onclick="return confirm('Are you sure you want to delete this item?')"> delete </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Gecko</td>
                      <td>Mozilla 1.7</td>
                      <td>Win 98+ / OSX.1+</td>
                      <td>1.7</td>
                      <td>A</td>
                      <td>
                        <button class="btn btn-success" type="button" name="button">Edit </button> ||
                        <button class="btn btn-danger" type="button" name="button" onclick="return confirm('Are you sure you want to delete this item?')"> delete </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Gecko</td>
                      <td>Mozilla 1.8</td>
                      <td>Win 98+ / OSX.1+</td>
                      <td>1.8</td>
                      <td>A</td>
                      <td>
                        <button class="btn btn-success" type="button" name="button">Edit </button> ||
                        <button class="btn btn-danger" type="button" name="button" onclick="return confirm('Are you sure you want to delete this item?')"> delete </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Gecko</td>
                      <td>Seamonkey 1.1</td>
                      <td>Win 98+ / OSX.2+</td>
                      <td>1.8</td>
                      <td>A</td>
                      <td>
                        <button class="btn btn-success" type="button" name="button">Edit </button> ||
                        <button class="btn btn-danger" type="button" name="button" onclick="return confirm('Are you sure you want to delete this item?')"> delete </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Gecko</td>
                      <td>Epiphany 2.20</td>
                      <td>Gnome</td>
                      <td>1.8</td>
                      <td>A</td>
                      <td>
                        <button class="btn btn-success" type="button" name="button">Edit </button> ||
                        <button class="btn btn-danger" type="button" name="button" onclick="return confirm('Are you sure you want to delete this item?')"> delete </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Webkit</td>
                      <td>Safari 1.2</td>
                      <td>OSX.3</td>
                      <td>125.5</td>
                      <td>A</td>
                      <td>
                        <button class="btn btn-success" type="button" name="button">Edit </button> ||
                        <button class="btn btn-danger" type="button" name="button" onclick="return confirm('Are you sure you want to delete this item?')"> delete </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Presto</td>
                      <td>Nokia N800</td>
                      <td>N800</td>
                      <td>-</td>
                      <td>A</td>
                      <td>
                        <button class="btn btn-success" type="button" name="button">Edit </button> ||
                        <button class="btn btn-danger" type="button" name="button" onclick="return confirm('Are you sure you want to delete this item?')"> delete </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Presto</td>
                      <td>Nintendo DS browser</td>
                      <td>Nintendo DS</td>
                      <td>8.5</td>
                      <td>C/A1</td>
                      <td>
                        <button class="btn btn-success" type="button" name="button">Edit </button> ||
                        <button class="btn btn-danger" type="button" name="button" onclick="return confirm('Are you sure you want to delete this item?')"> delete </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  Metis.MetisTable();
  Metis.metisSortable();
});
</script>
<% include ../partials/footer %>
